body {
    background: #231F20; 
    padding: 0;   
    margin: 0;
}
/*non pixel art*/
#container canvas {
    position: absolute;
    left:50%;
    transform:translateX(-50%);
}
/*pixel art*/
#container canvas[data-pixel-art="true"] {
    position: absolute;
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
#canvas { background: #231F20; margin:auto; width:100%;}
#loading-group { position: relative; margin: auto; margin-top: 21%;display: none }
#logo {position: relative; margin: auto; width: 300px; height: 130px; background: url('logo.png') no-repeat center }
#progress-bar-empty {position: relative; margin: auto;  width: 405px; height: 41px; margin-top: 10px; background: url('progress-bar-out.png') no-repeat center }
#progress-bar-full { margin-left: 13px; height: 40px; margin-top: 10px; background: url('progress-bar-in.png') no-repeat center }
